<ion-view view-title="home">
	<ion-content>
		<div id="imagen">
			<img ng-src="img/logo.png">
			<h1>Elige una Funcion</h1>			
		</div>
	
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" placeholder="Nombre de la carta" ng-model=search.card>
			</label>
			
		
		<div class="list">
			<button class="button button-full button-dark" ui-sref="search({search: search.card})" id="buscador">
				Buscar
			</button>
			<br><br>
			<h2 align="center">Cartas mas jugadas</h2>
			<button class="button button-full button-dark" ui-sref="list" id="lista">
				 Standard
			</button>
			<button class="button button-full button-dark" ui-sref="list2" id="lista">
				 Modern
			</button>
		</div>

	</ion-content>
</ion-view>